{% extends "base.html" %}
{% block title %}TDL{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        td {
            padding: 6px 12px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" onclick="closeMsg()">&times;</button>
                {{ msg }}
            </div>
        {% endfor %}
    </div>
    <div class="page-header" style="text-align:center;">
        <h1 style="margin-left: 15px;">To Do List</h1>
    </div>
    <div style="text-align:center;">
        <form action="/" method="post">
            <div style="text-align:center;">
                <input id="csrf_token" name="csrf_token" type="hidden"
                       value="1483865393##ab936c1689a522168edb31e291efbe8482b76eb7">
                <div class="form-group">
                    {% if todos %}
                        <input class="form-control" id="search_tag" style="width: 33%; display: inline;"
                               name="search_tag"
                               type="text" value="{{ search_tag }}">
                        <input class="btn btn-default" id="submit" name="submit" type="submit" value="search">
                    {% endif %}
                    <input class="btn btn-default" value="add" type="button"
                           onclick="window.location.href='{{ url_for('main.add_or_edit', todo_id=0) }}'">

                    <input class="btn btn-default" type="button"
                           onclick="window.location.href='{{ url_for('main.logout') }}'" value="logout"
                           align="right">
                    <input class="btn btn-default" type="button"
                           onclick="window.location.href='{{ url_for('main.ch_info') }}'" value="edit info"
                           align="right">

                </div>

            </div>

        </form>
        {% if not todos %}
            <h3>Nothing Todo !</h3>
        {% else %}
            <table style="border-spacing: 1px; border-collapse: inherit; margin-bottom: 15px;text-align:center;"
                   align="center">
            <tr bgcolor="#6495ed">
                <td>ID</td>
                <td>Create Time</td>
                <td>Update Time</td>
                <td>Requirement Doc</td>
                <td>State</td>
                <td>Update State</td>
                <td>Update Doc</td>
                <td>Delete</td>
            </tr>
            {% for todo in todos %}
                {% if todo.is_done %}
                    <tr bgcolor="#adff2f">
                        {% else %}
                    <tr bgcolor="red">
                {% endif %}
            <td>{{ loop.index }}</td>
            <td>{{ todo.created_time.strftime('%Y-%m-%d') }}</td>
            <td>{{ todo.updated_time.strftime('%Y-%m-%d') }}</td>
            <td>{{ todo.content }}</td>
            {% if todo.is_done %}
                <td>completed</td>
                <td><input style="border: 0" value="processing" type="submit" onclick="chStatus({{ todo.id }})"></td>
            {% else %}
                <td>processing</td>
                <td><input style="border: 0" value="completed" type="submit" onclick="chStatus({{ todo.id }})"></td>
            {% endif %}
            <td><input style="border: 0;" type="submit" value="update"
                       onclick="window.location.href='{{ url_for('main.add_or_edit', todo_id=todo.id) }}'"></td>
            <td><input style="border: 0" value="delete" type="submit" onclick="delTodo({{ todo.id }})"></td>
            </tr>
            {% endfor %}
        {% endif %}
        </table>

    </div>

    <div align="right">
        {% if current_user.is_administrator %}
        <div class="col-md-4">
            <input class="btn btn-default" type="button" value="add user"
                   onclick="window.location.href='{{ url_for('main.add_user') }}'" align="right">
            <input class="btn btn-default" type="button" value="update user"
                   onclick="window.location.href='{{ url_for('main.all_users') }}'" align="right">
        </div>
    {% endif %}
    </div>


{% endblock %}
</html>